@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* transition: all 2s linear; */
}

:root {
    --red: #ff3838;
    --grey: #666;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

body {
    font-family: Nunito, sans-serif;
    background-color: #f7f7f7;
    
}

header {
    background: url(./images/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 2rem;
    box-shadow: 0 5px 10px 0 rgba(0 0 0/ .1);
    position: fixed;
    inset: 0 0 auto 0;
    background-color: #fff;
    z-index: 10;
    
}

.nav-bar nav {
    position: absolute;
    inset: 100% 0 auto 0;
    /* transition: all 5s linear; */
    
}

.nav-bar nav.active {
    clip-path: polygon(50% 0%, 0 0, 100% 0);
    
}

a {
    text-decoration: none;
}

.nav-logo {
    color: var(--grey);
    font-weight: 700;
    font-size: 2.1rem;
    
}

.nav-logo i {
    color: var(--red);
}

.nav-bar ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background-color: #f7f7f7;
    border: 0.1rem solid rgba(0 0 0/ .1);
    padding: 1rem;

}


.nav-bar li {
    list-style: none;
    font-size: 1.5rem;
    background-color: #FFF;
    width: 100%;
    border: 0.1rem solid rgba(0 0 0/ .1);
    border-left: 0.5rem solid var(--red);
    padding: 1rem;
    border-radius: 2px;

}

.nav-bar li a {
    color: var(--grey);
    transition: color .2s linear;
    display: block;
    width: auto;
}

.nav-bar li a:hover {
    color: var(--red);
}

.fa-solid.fa-bars {
    cursor: pointer;
}



/* ---------HOME--------- */

section.home {
    display: flex;
    flex-direction: column;
    padding: 6.8rem 2rem;
    gap: 5rem;

}

.home img {
    width: 100%;
    animation: float 3s linear infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5%);
    }
}

.home h1  {
    font-size: 4.2rem;
    font-weight: 700;
    color: #333;
}

.home p {
    font-size: 1.3rem;
    color: var(--grey);
    padding: .5rem 0 1.5rem 0;
}

.home button {
    border: 1.7px solid var(--red);
    outline: none;
    background-color: inherit;
    color: var(--red);
    padding: .8rem 3rem;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all .4s linear;
}

.home button::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--red);
    transition: all .4s linear;
    z-index: -1;
}

.home button:hover::before {
    width: 100%;
    left: 0;
}

.home button:hover {
    color: white;
}


/* -----SPECIALITY------- */
section.speciality {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 2rem;
    gap: 1.5rem;

}

.speciality h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
    align-self: flex-end;
    height: max-content;
}

.speciality h1 > span {
    color: var(--red);
}

.speciality .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
    padding: 2.5rem 2rem;
    height: 250px;
    border: 1px solid rgba(0 0 0/ .5);
    box-shadow: 2px 2px 10px 3px rgba(0 0 0/ .1);
    
}

.speciality .card h3 {
    font-size: 2.3rem;
    color: #333;
}

.speciality .card p {
    font-size: 1.4rem;
    color: var(--grey);
}

.speciality .card .product-img {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform .2s linear;
}

.speciality .card:hover .product-img {
    transform: translateY(0);
}

.speciality .card-1 {
    pointer-events: none;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: transform .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    background-color: #fff;
    padding: 2.5rem 2rem;
    
}

.speciality .card:hover .card-1 {
    transform: translateY(100%);
}


/* -----POPULAR------- */
section.popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 2rem;
    gap: 1.2rem;
}

.popular .popular-card {
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.6rem;
        background-color: #fff;
        overflow: hidden;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        padding: 2.5rem 2rem;
        /* height: 250px; */
        border: 1.5px solid rgba(0 0 0/ .3);
        box-shadow: 2px 2px 10px 3px rgba(0 0 0/ .1);
}

.popular .popular-card img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.popular h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
    align-self: flex-end;
    height: max-content;
}

.popular h1>span {
    color: var(--red);
}

.popular h3 {
    font-size: 3rem;
    color: #333;
}

.popular a {
    border: 1.7px solid var(--red);
    outline: none;
    background-color: inherit;
    color: var(--red);
    padding: .8rem 3rem;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all .4s linear;
}

.popular a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--red);
    transition: all .4s linear;
    z-index: -1;
}

.popular a:hover::before {
    width: 100%;
    left: 0;
}

.popular a:hover {
    color: white;
}

.popular .fa-star {
    color: gold;
}

.popular .popular-card--image {
    position: relative;
}

.popular .popular-card--image::before {
    content: "$5 - $20";
    background-color: var(--red);
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


/* ---------INFO-------- */

section.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    padding: 2rem 2rem;
    gap: 1.2rem;
}

.info .info-card {
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    padding-inline: 1.3rem;
}

.info .info-card > div {
    background-color: red;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 2px 2px 10px 3px rgba(0 0 0/ .1);

}

.info .info-card>div img {
    width: 100%;
}

.info h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
    align-self: flex-end;
    height: max-content;
}

.info h1>span {
    color: var(--red);
}

.info .info-card h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}



/* -----GALLERY------- */
section.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 2rem;
    gap: 1.5rem;

}

.gallery h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
    align-self: flex-end;
    height: max-content;
}

.gallery h1>span {
    color: var(--red);
}

.gallery .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 7px;
    text-align: center;
    padding: 2.5rem 2rem;
    height: 250px;
    border: 10px solid #fff;
    box-shadow: 2px 2px 10px 3px rgba(0 0 0/ .1);

}

.gallery .card h3 {
    font-size: 2.3rem;
    color: #333;
}

.gallery .card p {
    font-size: 1.4rem;
    color: var(--grey);
    /* background-color: red; */
}

.gallery .card img {
    position: absolute;
    inset: 0;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}


.gallery .card-1 {
    position: absolute;
    inset: 0;
    /* z-index: 1; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform .2s linear;
    padding: 2rem 2rem;
    padding-top: 4rem;
    background-color: rgba(225 225 225/.9);
}

.gallery .card:hover .card-1 {
    transform: translateY(0);
}

.gallery .card-1 p {
    margin: 1rem 0;
    margin-bottom: 1rem;
}

.gallery .card-1 a {
    border: 1.7px solid var(--red);
    outline: none;
    background-color: inherit;
    color: var(--red);
    padding: .8rem 3rem;
    border-radius: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all .4s linear;
}

.gallery .card-1 a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--red);
    transition: all .4s linear;
    z-index: -1;
}

.gallery .card-1 a:hover::before {
    width: 100%;
    left: 0;
}

.gallery .card-1 a:hover {
    color: white;
}


/* -----REVIEW------- */
section.review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    padding: 2rem 2rem;
    gap: 10rem;
    column-gap: 1.5rem;
    color: #fff;

}

.review h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
    align-self: flex-end;
    height: max-content;
}

.review h1>span {
    color: var(--red);
}

.review .card {
    border-radius: 7px;
    text-align: center;
    padding: 3rem 1rem;
    padding-top: 7rem;
    border: 10px solid #fff;
    box-shadow: 2px 2px 10px 3px rgba(0 0 0/ .3);
    position: relative;
    background-color: #333;
}

.review .card h3 {
    font-size: 2.3rem;
}

.review .card p {
    font-size: 1.4rem;
}

.review .review-image {
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review img {
    width: 100%;
    height: 100%;
}

.review .fa-star {
    color: var(--red);
    padding: 1rem 0;
}



/* -----ORDER------- */
section.order {
    padding: 2rem 2rem;
    color: #fff;
}

.order h1 {
    text-align: center;
    font-size: 3.3rem;
    color: var(--grey);
}

.order h1>span {
    color: var(--red);
}

.order > div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.order img {
    width: 100%;
    border-radius: 8px;
}

.order form > div {
    /* background-color: red; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;


}

.order input {
    width: 48%;
    height: 50px;
    border-radius: 6px;
    outline: none;
    border: 1px solid rgba(0 0 0/ .5);
    margin: 10px 0px;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.order textarea {
    width: 100%;
    height: 14rem;
    border-radius: 6px;
    padding: 1rem;
    margin: 7px 0px;
    font-size: 1.8rem;
    border: 1px solid rgba(0 0 0/ .5);
    outline: none;
}

.order .name,
.order .number {
    margin-right: auto;
}

.order .email,
.order .food-name {
    margin-left: auto;
}

.order button {
    border: 1px solid var(--red);
    outline: none;
    background-color: inherit;
    color: var(--red);
    padding: .8rem 3rem;
    border-radius: 6px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all .4s linear;
    margin-top: 7px;
}


.order button:hover {
    color: white;
    background-color: var(--red);
}



/* ------FOOTER-------- */

footer {
    background-color: #000;
    color: white;
    padding: 2.5rem 2rem;
}

footer .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer a {
    border: 1.7px solid var(--red);
    outline: none;
    background-color: inherit;
    color: var(--red);
    padding: .8rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all .4s linear;
    margin-top: 5px;
}

footer a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--red);
    transition: all .4s linear;
    z-index: -1;
}

footer a:hover::before {
    width: 100%;
    left: 0;
}

footer a:hover {
    color: white;
}

footer h2 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 400;
}

footer h2 span {
    color: var(--red);
}







@media (min-width:800px) {
    header {
        height: 100vh;
    }

    .fa-solid.fa-bars {
        display: none;
    }

    .nav-bar {
        padding: 2.3rem 11rem;
    }

    .nav-bar nav {
        position: initial;
        clip-path: inset(0 0 0 0) !important;
    }

    .nav-bar ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2rem;
        background-color: inherit;
        border: none;
        padding: 0;
    }

    .nav-logo {
        font-size: 2.4rem;
    }

    .nav-bar li {
        font-size: 2.1rem;
        background-color: #FFF;
        width: auto;
        border: none;
        padding: 0;
        border-radius: 0;
    }


    /* ---------HOME--------- */

    section.home {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8rem 11rem;
        padding-top: calc(8rem + 60px);
        height: 100%;
        gap: 2rem;

    }

    .home img {
        width: 45%;
    }

    .home p {
        font-size: 1.8rem;
        padding: .5rem 0 2rem 0;
    }

    .home h1 {
        font-size: 5rem;
    }

    .home button {
        border: 2px solid var(--red);
        padding: 1rem 3rem;
        border-radius: 3px;
        font-size: 1.7rem;
    }


    /* -------SPECIALITY------- */

    section.speciality {
        padding: 2rem 11rem;
        min-height: 100vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .speciality .card {
        height: 260px;
    }

    .speciality h1 {
        font-size: 4rem;
    }

    .speciality .card h3 {
        font-size: 2.6rem;
    }

    .speciality .card p {
        font-size: 1.7rem;
    }


    /* -------POPULAR------- */
    
    section.popular {
        padding: 2rem 11rem;
        min-height: 100vh;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

    .popular a {
        border: 2px solid var(--red);
        padding: 1rem 3rem;
        border-radius: 3px;
        font-size: 1.7rem;
    }

    .speciality h1 {
        font-size: 4rem;
    }

    /* --------INFO--------- */

    section.info {
        padding: 2rem 6rem;
    }

    section.info h1 {
        font-size: 4rem;
    }

    .info .info-card h2 {
        font-size: 3.5rem;
    }

    /* -------GALLERY------- */

    section.gallery {
        padding: 2rem 11rem;
        min-height: 100vh;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .gallery .card {
        height: 260px;
    }

    .gallery h1 {
        font-size: 4rem;
    }

    .gallery .card h3 {
        font-size: 2.6rem;
    }

    .gallery .card p {
        font-size: 1.7rem;
    }


    /* -----REVIEWS------- */
    section.review {
        padding: 2rem 11rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .review h1 {
        font-size: 4rem;
    }

    .review .card {
        padding-bottom: 2rem;
        max-height: 280px;
    }

    .review .card h3 {
        font-size: 2.6rem;
    }

    .review .card p {
        font-size: 1.7rem;
    }


    /* -----ORDER------- */
    section.order {
        padding: 2rem 11rem;
    }

    .order h1 {
        font-size: 4rem;
    }

    .order > div {
        flex-direction: row;
    }

    .order img {
        width: 40%;
        height: 380px;
    }

    .order input {
        flex-basis: 49%;
        margin: 7px 0px;
        font-size: 1.5rem;
    }

    .order button {
        border: 2px solid var(--red);
        font-size: 2rem;
    }


    /* -------FOOTER----- */

    footer a {
        border: 2px solid var(--red);
        font-size: 1.8rem;
    }

    footer h2 {
        font-size: 2rem;
    }

}







@media(max-width:980px) {
    .nav-bar,
    section.home,
    section.speciality,
    section.popular,
    section.info,
    section.gallery,
    section.review,
    section.order {
        padding-inline: 2rem;
    }
}

